body {
  margin: 0;
  background: #0b0f1a;
  color: #fff;
  font-family: Arial;
}

.app {
  padding: 20px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  opacity: .8;
}

.card {
  background: #151a2c;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #222;
  color: #fff;
}

.primary {
  background: #3b82f6;
}

.history div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.progress {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  height: 14px;
  background: #22c55e;
}

.green {
  color: #22c55e;
}
