<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
  <meta charset="UTF-8">
</head>
<body>
<div class="app">

  <header>
    CryptoX 
    <span>{{ user }}</span>
  </header>

  <div class="card">
    <p>Available Balance</p>
    <h1>${{ balance }}</h1>

    <div class="buttons">
      <button class="primary">Withdraw</button>
      <button>Deposit</button>
    </div>
  </div>

  <div class="status">
    ● Account verified ● KYC verified ● Network online
  </div>

  <div class="history">

    <!-- FAILED -->
    <div class="failed">
      - ${{ failed }}
      <span>Failed</span>
    </div>

    <!-- SUCCESS -->
    <div class="success">
      + ${{ success }}
      <span>Completed</span>
    </div>

    <!-- Fake old history -->
    <div>- $4,400 <span>30 days ago</span></div>
    <div>- $2,000 <span>32 days ago</span></div>
    <div>- $5,000 <span>45 days ago</span></div>
    <div>- $1,452 <span>49 days ago</span></div>
    <div>- $2,300 <span>57 days ago</span></div>

  </div>

  <footer>Home · Wallet · Trade · Profile</footer>

</div>
</body>
</html>
